services:
  # Postgres DB
  postgres:
    image: postgres:15-alpine
    container_name: smunch_orders_pg
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
    ports:
      - "5434:5432"
    volumes:
      - pgdata_orders:/var/lib/postgresql/data
    networks:
      - default
    #   - smunch-network

  # DB UI
  adminer: #lightweight DB UI at http://localhost:8094
    image: adminer
    restart: unless-stopped
    ports:
      - "8094:8080"
    networks:
      - default
    #   - smunch-network
  
  # payments microservice
  order-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order-service
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8084:8084"
    networks:
      - smunch-network
      - default
    restart: unless-stopped

volumes:
  pgdata_orders:

networks:
  smunch-network:
    external: true

