image: maven:3.9.6-eclipse-temurin-17
stages:
  - build
  - test
  - docker
 
variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  DOCKER_DRIVER: overlay2

  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  IMAGE_LATEST: $CI_REGISTRY_IMAGE:latest
cache:
  paths:
    - .m2/repository

# Build Stage
build:
  stage: build
  script:
    - echo " Building Email Service..."
    - mvn clean compile
  artifacts:
    paths:
      - target/
  only:
    - main
    - merge_requests

# Test Stage
test:
  stage: test
  image: maven:3.9.6-eclipse-temurin-17
  script:
    - echo "Running controller tests..."
    - mvn test -Dspring.profiles.active=test
  artifacts:
    reports:
      junit: target/surefire-reports/*.xml


#Build and push
docker-build-push:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "Logging into GitLab Container Registry..."
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "Building Docker image..."
    - docker build -t $IMAGE_TAG -t $IMAGE_LATEST .
    - echo "Pushing Docker images..."
    - docker push $IMAGE_TAG
    - docker push $IMAGE_LATEST
    - echo "Docker images pushed successfully!"
  only:
    - main