version: '3.8'

services:
  email-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: email-service
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq       
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: smunch
      SPRING_RABBITMQ_PASSWORD: smunch
    ports:
      - "8089:8089"
    networks:
      - smunch-network
    restart: unless-stopped

networks:
  smunch-network:
    external: true 
