services:
  postgres:
    image: postgres:15-alpine
    container_name: smunch_payments_pg
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
    ports:
      - "5435:5432" # optional; remove if you don't need host access
    volumes:
      - pgdata_payments:/var/lib/postgresql/data
    networks:
      - default     # <--- only this internal network

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8095:8080"
    networks:
      - default     # <--- can reach postgres only

  payment-service:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
    container_name: payment-service
    env_file:
      - .env
    volumes:
      - ./gmail-token.json:/app/gmail-token.json:ro
    depends_on:
      - postgres
    ports:
      - "8085:8085"
    restart: unless-stopped
    networks:
      - default     # can reach postgres
      - smunch-network      # can reach other microservices

volumes:
  pgdata_payments:

networks:
  smunch-network:
    external: true
